# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Kernel Binaries + modules
*Image
*.gzip
*zImage
*.ko
*vmlinux
*.cmd
*.order
*.builtin
*.S
*.fw
.tmp_*
.missing-syscalls.d
System.map
arch/arm/boot/compressed/vmlinux.lds
arch/arm/kernel/asm-offsets.s
arch/arm/kernel/vmlinux.lds
drivers/net/wireless/bcmdhd/dhd.mod.c
drivers/scsi/scsi_wait_scan.mod.c
drivers/tty/vt/consolemap_deftbl.c
drivers/tty/vt/defkeymap.c
kernel/bounds.s
kernel/config_data.gz
kernel/config_data.h
kernel/timeconst.h
lib/crc32table.h
lib/gen_crc32table
security/selinux/av_permissions.h
security/selinux/flask.h
usr/.initramfs_data.cpio.d
usr/gen_init_cpio
usr/initramfs_data.cpio

